<md-toolbar style="display: none;">
    <div class="logo"><img src="assets/images/eucaliptus.png"></div>
</md-toolbar>
<div class="container">
  <div class="logo-agetic"><img src="assets/images/eucaliptus.png"></div>
  <!-- <md-card class="login-panel md-whiteframe-3dp"></md-card> -->
  <md-card class="login-panel ">
    <md-card-content>
      <div layout layout-xs="column" layout-sm="column" layout-align="center center">
        <!-- <div class="boton-circular rotar" flex layout-xs="row">
          <md-tooltip>Iniciar sesión</md-tooltip>
          <img class="icon-circular-imagen ciudadania" src="assets/images/Ciudadania-Digital-Logo-v01-cuadrado.png">
        </div> -->
        <div class="boton-circular rotar" layout-xs="row">
          <md-tooltip>Verificar documentos</md-tooltip>
          <img class="icon-circular-imagen" src="assets/images/certificate.png" ng-click="login.irAVerificar()">
        </div>
      </div>
      <!-- DEBE QUITARSE EL FORMULARIO SI SE DESEA TRABAJAR CON CIUDADANÍA -->
      <form name="form" ng-submit="login.login()">
        <md-input-container>
          <label>Nombre de usuario</label>
          <md-icon>person</md-icon><input ng-model="login.username" required>
        </md-input-container>
        <md-input-container>
          <label>Contraseña</label>
          <md-icon>lock</md-icon><input ng-model="login.password" type="password" required>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">
          Iniciar sesión
        </md-button>
      </form>
      <!-- fin del FORMULARIO a borrar SI SE DESEA TRABAJAR CON CIUDADANÍA -->
    </md-card-content>
  </md-card>
</div>