<ng-form name="listaContactosForm">
  <div layout>
    <div ng-class="'flex-'+to.labelw"   layout="column">
      <div class="label" flex layout layout-align="start start">
        <span class="ap-cursor-pointer" ng-click="vm.abrirSelector($event, 'contacto')"> 
          {{to.label}}
        </span>&nbsp;&nbsp;&nbsp;
      </div>
      <md-input-container class="input-search" ng-show="vm.mostrarContacto">
        <label>Contactos</label>
        <md-select ng-model="model[options.key].lista" name="seleccionarContacto" 
          md-on-close="vm.cerrarSelector()"
          data-md-container-class="select-search" multiple required>
          <md-select-header class="select-header">
            <input ng-model="vm.buscarContacto" placeholder="Buscar..." 
            class="header-searchbox md-text">
          </md-select-header>
          <md-optgroup label="contactos">
          <md-option ng-value="d" ng-repeat="d in vm.contactos" >
            <div>
              {{d.grado}} {{d.nombres}} {{d.apellidos}}
            </div>
            <div ng-if="d.cargo">{{d.cargo}} - {{d.sigla}}</div>
            <div ng-if="!d.cargo || d.cargo === undefined">{{d.sigla}}</div>
            </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      <div flex></div>
    </div>
 
    <div class="docs" flex>
      <div layout="column" layout-wrap>
        <div ng-repeat="d in model[options.key].lista" class="{{$index%2==0? 'par':'impar'}}">
          <div>{{ d.nombres }} {{ d.apellidos }}</div>
          <div>{{d.cargo}}</div>
          <div>{{d.sigla}}</div>
        </div>
      </div>
      <div class="ap-ng-msg" ng-messages="listaContactosForm.seleccionarContacto.$error" ng-show="listaContactosForm.$submitted || listaContactosForm.select_doc.$touched">
        <div ng-message="required">Debe escojer al menos un contacto</div>
      </div>
    </div> 
  </div>
</ng-form>