<h1 ng-if="to.tipo=='h1'" ng-class="[to.className,{'no-margin-top': !to.mTop },{ 'no-margin-bot': !to.mBot }]">{{to.label}}</h1>
<h2 ng-if="to.tipo=='h2'" ng-class="[to.className,{'no-margin-top': !to.mTop },{ 'no-margin-bot': !to.mBot }]">{{to.label}}</h2>
<h3 ng-if="to.tipo=='h3'" ng-class="[to.className,{'no-margin-top': !to.mTop },{ 'no-margin-bot': !to.mBot }]">{{to.label}}</h3>
<h4 ng-if="to.tipo=='h4'" ng-class="[to.className,{'no-margin-top': !to.mTop },{ 'no-margin-bot': !to.mBot }]">{{to.label}}</h4>
<h5 ng-if="to.tipo=='h5'" ng-class="[to.className,{'no-margin-top': !to.mTop },{ 'no-margin-bot': !to.mBot }]">{{to.label}}</h5>
<h6 ng-if="to.tipo=='h6'" ng-class="[to.className,{'no-margin-top': !to.mTop },{ 'no-margin-bot': !to.mBot }]">{{to.label}}</h6>
<p ng-if="to.tipo=='p'" ng-class="[to.className,{'no-margin-top': !to.mTop },{ 'no-margin-bot': !to.mBot }]">{{to.label}}</p>
