// _accordions.scss..............Accordion elements.



.md-accordion {
    margin-top: 2px;
    .header-accordion {
        background: #F2F2F2;
        padding-left: 1%;
        cursor:pointer;
        border-bottom:1px solid lighten($colorWarning, 30%);
    }
    .expandCollapse {
        width: 30px;
        height: 30px;
        position: relative;
        // font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        // color: #fff;
        color: black;
        display: block;
        // margin-top: 4px;
        // margin-left: -2px;
        overflow: hidden;
    }
    .expandCollapse:active {
        border: 0px;
    }
    .expandCollapse:before,  .expandCollapse:after {
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top:0;
        left:0;
        line-height: 32px;
        text-align: center;
        -webkit-transition: .3s all ease-out;
        transition: .3s all ease-out;
    }
    .expandCollapse:before {
        // opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        content: "|";
    }
    .expandCollapse:after {
        // opacity: 1;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        content: "|";
    }
    .active:before {
        // opacity: 1;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        // margin-left: 3px;
        margin-top: 0px;
    }

    .dataContent {
        height:0px;
        overflow:hidden;
        -webkit-transition: .3s all ease-out;
        transition: .3s all ease-out;
    }

    .activeContent {
        height:auto;
        padding:10px;
        display:block;
    }
}
