// _tabs.scss....................Tab elements.

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
	color: $colorPrimary;
}
md-tabs.md-default-theme .md-tab .md-ripple-container, md-tabs .md-tab .md-ripple-container {
	color: lighten($colorPrimary, 70%);
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
	background-color: $colorSecondary;
}