<div class="container-plantilla">
  <section layout>
    <md-content flex>
      <div class="header botones" layout layout-align="start center">
        <md-button class="md-fab md-primary" ng-click="catalogo.guardarCatalogo()">
          <md-icon>save</md-icon>
          <md-tooltip md-direction="right">Guardar catalogo</md-tooltip>
        </md-button>
        <md-button class="md-fab md-primary" ng-click="catalogo.volverAtras()">
          <md-icon>reply</md-icon>
          <md-tooltip md-direction="right">Volver atras</md-tooltip>
        </md-button>
      </div>

      <div>
        <form name="catalogoForm" novalidate>
          <md-card flex>
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Datos generales del catalogo</span>
              </md-card-header-text>
            </md-card-header>
            <!-- TODO: mejorar estilos respecto al padding -->
            <md-card-container class="md-block container">
              <md-input-container class="md-block">
                <label>Nombre</label>
                <input type="text" ng-model="catalogo.data.nombre">
                <div ng-messages="catalogoForm.nombre.$error" ng-show="catalogoForm.nombre.$dirty">
                  <div ng-message="required"> Debe llenar este campo</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Descripción</label>
                <textarea ng-model="catalogo.data.descripcion"></textarea>
                <div ng-messages="catalogoForm.descripcion.$error" ng-show="catalogoForm.descripcion.$dirty">
                  <div ng-message="required"> Debe llenar este campo</div>
                </div>
              </md-input-container>
            </md-card-container>

          </md-card>

          <div layout="row">
            <md-card style="width:60%;">
              <md-card-header>
                <md-card-header-text >
                  <span class="md-title">Documentos</span>
                </md-card-header-text>
              </md-card-header>
              <md-card-container>
                <div layout="row" class="container">
                  <md-input-container flex>
                    <input ng-model="catalogo.buscar_documento">
                  </md-input-container>
                  <md-button class="md-fab md-primary" ng-click="catalogo.buscarDocumento($event)"
                    aria-label="Add">
                    <md-tooltip>Buscar y validar</md-tooltip>
                    <md-icon>search</md-icon>
                  </md-button>
                </div>
                <div layout="row" class="container" ng-if="catalogo.documento.nombre">
                  <form name="catalogoDocumentoForm">
                  <md-input-container flex >
                    <label> Documento</label>
                    <input ng-model="catalogo.documento.nombre" disabled>
                  </md-input-container>
                  <md-input-container class="md-block" flex>
                    <label>Descripción</label>
                    <textarea ng-model="catalogo.documento.descripcion"></textarea>
                    <div ng-messages="catalogoDocumentoForm.documento.descripcion.$error"
                      ng-show="catalogoDocumentoForm.documento.descripcion.$dirty">
                      <div ng-message="required"> Debe llenar este campo</div>
                    </div>
                  </md-input-container>
                  <md-button class="md-fab md-primary" ng-click="catalogo.agregarDocumento($event)" aria-label="Add">
                    <md-tooltip>Agregar</md-tooltip>
                    <md-icon>add</md-icon>
                  </md-button>
                  </form>
                </div>
                <action-table
                fields="catalogo.camposDocumentos"
                items="catalogo.data.documentos"
                buttons="catalogo.botonesDocumentos"
                >                  
                </action-table>
              </md-card-container>
            </md-card>
            <md-card flex>
              <md-card-header>
                <md-card-header-text layout="row">
                  <span class="md-title">Personas que pueden ver el catalogo</span>
                </md-card-header-text>
                
              </md-card-header>
              <md-card-container>
                <div layout="row" class="container">
                  <md-input-container flex>
                    <label> Escriba el nombre o el apellido a buscar... </label>
                    <input ng-model="catalogo.buscar_usuario">
                  </md-input-container>
                  <md-button class="md-fab md-primary" ng-click="catalogo.buscarUsuario($event)"
                    aria-label="Add">
                    <md-tooltip>Buscar personas</md-tooltip>
                    <md-icon>search</md-icon>
                  </md-button>

                </div>
                <div ng-if="catalogo.usuarios.length > 0">
                  <md-chips ng-model="catalogo.usuarios" name="usuarios" readonly="true"
                    md-removable="true" input-aria-label="Usuarios">
                    <md-chip-template>
                      <strong>{{$chip.nombres}} {{$chip.apellidos}}</strong>
                      <md-button class="md-icon-button md-primary" ng-click="catalogo.autorizarUsuario($event, $chip)"
                        aria-label="Add">
                        <md-tooltip>Agregar nuevo usuario</md-tooltip>
                        <md-icon>add</md-icon>
                      </md-button>
                    </md-chip-template>
                  </md-chips>
                </div>
                <action-table 
                fields="catalogo.camposUsuarios" 
                items="catalogo.data.usuarios"
                buttons="catalogo.botonesUsuarios"
                >
                </action-table>
              </md-card-container>
            </md-card>
          </div>

        </form>
      </div>
    </md-content>
  </section>
</div>