<div class="container">
  <div class="logo-agetic" >
    <img src="assets/images/logo.png" class="text-button" alt="AGETIC" ng-click="verificar.irInicio()">
  </div>
  <md-card>
    <md-tabs
      class="md-accent verificar-contenedor {{(verificar.datosDocumento?'ampliar':'')}}"
      md-align-tabs="top"
      md-selected="verificar.data.selectedIndex">
      <md-tab name="verificar">
        <md-tab-label>
          <strong>
            Verificar
          </strong>
        </md-tab-label>
        <md-tab-body>
        <md-button class="md-fab md-mini md-icon-button md-primary" aria-label="home" ng-click="verificar.irInicio()">
          <md-icon>home</md-icon>
          <md-tooltip>Volver al inicio</md-tooltip>
        </md-button>
          <form name="form" ng-submit="verificar.buscar()" >
            <div class="md-padding" layout layout-xs="column" layout-align="center">
              <md-input-container>
                <label>Cite</label>
                <input ng-model="verificar.datos.cite" required>
              </md-input-container>
              <md-input-container>
                <label>Codigo</label>
                <input ng-model="verificar.datos.codigo" required>
              </md-input-container>              
              <center>
                <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">
                  Verificar documento
                </md-button>
              </center>
            </div>
          </form>
          <div ng-if="verificar.datosDocumento" layout layout-sm="column" layout-xs="column"  class="visor-verificado" flex-direction-sm="column">
            <md-card flex-sm="50" flex-gt-sm="100" flex-gt-md="30"  layout="row" layout-sm layout-xs="4" layout-align="center center">
              <section style="width:100%; height:100%;" ng-if="verificar.datosDocumento">
                <md-toolbar class="md-hue-2 titulo-seccion-verificar" layout-align="center center">
                  <div layout="row" class="md-headline">
                    <h2 class="md-toolbar-tools">
                      <span md-colors="background: primary">Firmantes del documento</span>
                    </h2>
                  </div>
                </md-toolbar>
                <md-list layout-padding class="lista-firmantes">
                  <md-list-item class="md-2-line" ng-repeat="usuario in verificar.datosDocumento.firmantes">
                    <md-icon class="md-48 md-primary">fingerprint</md-icon>
                    <div class="md-list-item-text">
                      <h3>{{usuario.firmante}}</h3>
                      <!-- <p>{{usuario.fechaFirma || 'Fecha y hora no disponible'}}</p> -->
                    </div>
                    <md-divider md-inset hide-sm></md-divider>
                    <md-divider hide-gt-sm></md-divider>
                  </md-list-item>
                </md-list>
              </section>
            </md-card>
            <md-card flex-sm="50" flex-gt-sm="100" flex-gt-md="70" layout layout-align="center center" layout-xs="4">
              <section style="width:100%; height:100%;">
                <md-toolbar class="md-hue-2 titulo-seccion-verificar" layout-align="center center">
                  <div layout="row" class="md-headline" >
                    <h2 class="md-toolbar-tools">
                      <span class="titulo-card-verificar">Documento firmado digitalmente {{verificar.esMovil}}</span>
                    </h2>
                  </div>
                </md-toolbar>
                <iframe ng-if="verificar.pdf && (verificar.esMovil==false || !verificar.esMovil)" class="iframe-verificado-pdf" src="{{verificar.pdf}}"
                allowfullscreen></iframe>
                <div ng-if="verificar.pdf && verificar.esMovil==true" id="canvasContainerVerificado"></div>
              </section>
            </md-card>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- <md-tab name="historial">
        <md-tab-label>
          Historial
        </md-tab-label>
        <md-tab-body>
          historial de mis verificaciones
        </md-tab-body>
      </md-tab> -->
    </md-tabs>
  </md-card>
</div>
