<ng-form name="ingresoAlmacenForm">
  <div layout layout-align="start start">
    <md-input-container flex>
      Reingreso?:
      <span>
        <md-checkbox ng-model="model[options.key].reingreso"></md-checkbox>
        <md-tooltip>Reingreso</md-tooltip>
      </span>
    </md-input-container>
  </div>
  {{vm.proveedores}}
  <div layout layout-align="start start" flex>
    <md-input-container class="input-search" flex>
        <label>Proveedores</label>
        <md-select ng-model="model[options.key].proveedor" name="seleccionarProveedor"
          data-md-container-class="select-search" >
          <md-select-header class="select-header" >
            <div layout  layout-align="start start" flex>
              <md-input-container flex>
                <input ng-model="vm.proveedor_buscar" placeholder="Escriba el nombre del proveedor a buscar..."
                ng-keydown="$event.stopPropagation($event)"
                ng-keyup="$event.stopPropagation($event)"
                class="header-searchbox md-text"
                >
              </md-input-container>
              <md-button class="md-fab md-mini md-icon-button md-primary" aria-label="add"
                ng-click="vm.buscarProveedor()">
                <md-icon>search</md-icon>
                <md-tooltip>Buscar proveedor</md-tooltip>
              </md-button>
            </div>
          </md-select-header>
          <md-optgroup label="proveedores">
          <md-option ng-value="p" ng-repeat="p in vm.proveedores" >
            <div>
              {{p.nombre}}  {{p.nit}}
            </div>
            </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
  </div>

  <div layout layout-align="start start">
    <md-input-container flex>
      <input type="text" ng-model="model[options.key].c31" placeholder="Escríba el codigo C31">
    </md-input-container>
    <md-input-container flex>
      <input type="text" ng-model="model[options.key].c31_fecha" placeholder="Escríba la fecha C31">
    </md-input-container>
  </div>
  <div layout layout-align="start start">
    <md-input-container flex>
      <input type="text" ng-model="model[options.key].nota_entrega" placeholder="Escríba el número de la nota de entrega.">
    </md-input-container>
    <md-input-container flex>
      <input type="text" ng-model="model[options.key].nota_entrega_fecha" placeholder="Escríba la fecha de la nota entrega.">
    </md-input-container>
  </div>
  <div layout layout-align="start start">
    <md-input-container flex>
      <input type="text" ng-model="model[options.key].factura_autorizacion" placeholder="Escríba el número de autorización.">
    </md-input-container>
    <md-input-container flex>
      <input type="text" ng-model="model[options.key].factura_fecha" placeholder="Escríba la fecha de la factura">
    </md-input-container>
  </div>

  <div layout layout-align="start start">
    <md-input-container flex>
      <input type="text" ng-model="model[options.key].factura_numero"
        placeholder="Escríba el número de factura.">
    </md-input-container>
    <md-input-container flex>
      <input type="number" ng-model="model[options.key].descuento"
      ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
      ng-change="vm.calcularTotalConDescuento()"
      placeholder="Escríba el descuento.">
    </md-input-container>
  </div>

  <div layout layout-align="start start" flex>
    <md-input-container class="input-search" flex>
      <label>Artículo/Subartículo</label>
      <md-select ng-model="vm.articulo" name="seleccionarArticulo"
        data-md-container-class="select-search" >
        <md-select-header class="select-header" flex>
          <div layout layout-align="start start">
            <md-input-container flex>
              <input ng-model="vm.articulo_buscar" placeholder="Buscar articulo/subarticulo..." 
              ng-keydown="$event.stopPropagation($event)"
              class="header-searchbox md-text">
            </md-input-container>
            <md-button class="md-fab md-mini md-icon-button md-primary" aria-label="add"
              ng-click="vm.buscarArticulo()">
              <md-icon>search</md-icon>
              <md-tooltip>Buscar articulo/subarticulo</md-tooltip>
            </md-button>
          </div>
        </md-select-header>
        <md-optgroup label="articulos">
          <md-option ng-value="art" ng-repeat="art in vm.articulos">
            <div ng-click="vm.agregarFila($index)">
              {{art.codigo}} {{art.descripcion}}
            </div>
          </md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </div>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th ng-if="!to.disabled"> </th>
        <th> Código </th>
        <th> Unidad </th>
        <th> Detalle </th>
        <th> Cantidad </th>
        <th> Precio </th>
        <th> Precio Total </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in model[options.key].items | filter: vm.filter">
        <td class="buttons" ng-if="!to.disabled" layout-gt-sm>
          <md-button class="md-icon-button" aria-label="getSaldo" ng-click="vm.eliminarFila($index)">
            <md-icon>delete</md-icon>
            <md-tooltip>Eliminar fila</md-tooltip>
          </md-button>
        </td>
        <td>
          <md-input-container>
            <input type="text" ng-model="row.codigo" disabled>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input type="text" ng-model="row.unidad" disabled>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <textarea ng-model="row.descripcion" disabled></textarea>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input type="text" ng-model="row.cantidad" ng-change="vm.calcularSubTotal($index)" >
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input type="text" ng-model="row.precio" ng-change="vm.calcularSubTotal($index)"
            ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" step="0.0001">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input type="text" ng-model="row.total" disabled>
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{model[options.key].total}}</td>
      </tr>
    </tbody>
  </table>
  </form>
