<div class="profile">
	<div class="profile-user-bg">
		<div class="profile-user-photo bg-{{profile.getColor()}}-user">
			<img src="" alt="" hidden>
	    	<!-- <i class="md-icon">account_circle</i> -->
	    	{{profile.getInitial()}}
		</div>
		<div class="profile-data">
			<h2 class="profile-user-name">{{profile.getName()}}</h2>
	    	<h3 class="profile-user-item">{{profile.getEmail()}}</h3>
			<!-- <ul class="profile-user-data">
				<li>
					<span class="profile-data-number">10</span>
					<span class="profile-data-details">Dato 1</span>
				</li>
				<li>
					<span class="profile-data-number">20</span>
					<span class="profile-data-details">Dato 2</span>
				</li>
				<li>
					<span class="profile-data-number">30</span>
					<span class="profile-data-details">Dato 3</span>
				</li>
			</ul> -->
		</div>
	</div>
	<div class="profile-statistics" layout="row">
		<div class="profile-char text-left" flex ng-show="!profile.swEditarCuenta">
			<div layout>
				<md-button class="md-raised" ng-click="profile.abrirEditar('editar_notificaciones')">
						<md-icon>edit</md-icon>
						Editar notificaciones
				</md-button>
				<!-- <md-button class="md-raised" ng-click="profile.abrirEditar('editar_cuenta')">
						<md-icon>edit</md-icon>
						Editar cuenta
				</md-button>
				<md-button class="md-raised" ng-click="profile.abrirEditar('editar_contrasena')">
						<md-icon>edit</md-icon>
						Editar Contraseña
				</md-button> -->
				<div flex></div>
			</div>
			<p><strong>Nombre de usuario: </strong>{{profile.getData('username')}}</p>
			<p><strong>Número de documento: </strong>{{profile.getData('doc')}}</p>
			<p><strong>Nombre(s): </strong>{{profile.getData('first_name')}}</p>
			<p><strong>Apellido(s): </strong>{{profile.getData('last_name')}}</p>
			<p><strong>Correo electrónico: </strong>{{profile.getData('email')}}</p>
			<!-- <p><strong>Último login: </strong>{{profile.getData('last_login')}}</p> -->
			<p><strong>Activo desde: </strong>{{profile.getData('date_joined')}}</p>
		</div>
		<div class="profile-char-edit" flex ng-show="profile.swEditarCuenta=='editar_notificaciones'">
			<p> Recibir notificaciones vía: </p>

			<md-radio-group layout ng-model="profile.ca.canal">
		      <md-radio-button value="SMS"> SMS </md-radio-button>
		      <md-radio-button value="CORREO"> CORREO ELECTRÓNICO </md-radio-button>
		      <md-radio-button value="SMS_CORREO"> SMS Y CORREO ELECTRÓNICO </md-radio-button>
		    </md-radio-group>
			<br>
			<md-input-container ng-if="profile.ca.canal=='SMS' || profile.ca.canal=='SMS_CORREO'">
		        <label>Nro. de celular</label>
		        <input ng-model="profile.ca.celular">
		    </md-input-container>
			<md-input-container ng-if="profile.ca.canal=='CORREO' || profile.ca.canal=='SMS_CORREO'">
		        <label>Correo electrónico</label>
		        <input ng-model="profile.ca.email" disabled>
		    </md-input-container>
			<p> De documentos que me:</p>
			<div layout>
				<md-checkbox ng-model="profile.ca.enviado" ng-if="profile.getEsJefe()">envien</md-checkbox>
				<md-checkbox ng-model="profile.ca.observado" disabled>observen </md-checkbox>
				<md-checkbox ng-model="profile.ca.aprobado">aprueben</md-checkbox>
				<md-checkbox ng-model="profile.ca.derivado">deriven</md-checkbox>
			</div>

			<div layout>
				<!-- <div flex></div> -->
				<md-button class="md-raised md-primary" ng-click="profile.editarConfiguracion()">
						<md-icon>check</md-icon>
						Guardar
				</md-button>
				<md-button class="md-raised " ng-click="profile.cancelarEditar()">
						<md-icon>cancel</md-icon>
						Cancelar
				</md-button>
				<div flex></div>
			</div>
		</div>

		<div class="profile-char-edit" flex ng-show="profile.swEditarCuenta=='editar_cuenta'">
			<form name="cuentaForm">
				<div layout-gt-sm="row" layout-align="center center">
					<h3>Modificar cuenta de usuario</h3>
				</div>
				<div layout-gt-sm="row">
					<md-input-container flex-gt-sm>
						<label> Número de documento </label>
						<input name="numero_documento" ng-model="profile.numero_documento" required>
						<div ng-messages="cuentaForm.numero_documento.$error">
							<div ng-message="required">Debe llenar este campo</div>
						</div>
					</md-input-container>
					<md-input-container flex-gt-sm>
						<label> Nombre de usuario </label>
						<input name="nombre_usuario" ng-model="profile.nombre_usuario" required>
						<div ng-messages="cuentaForm.nombre_usuario.$error">
							<div ng-message="required">Debe llenar este campo</div>
						</div>
					</md-input-container>
					<md-input-container flex-gt-sm>
						<label> Correo eletrónico </label>
						<input name="email" ng-model="profile.email" required type="email">
						<div ng-messages="cuentaForm.email.$error">
							<div ng-message="required">Debe llenar este campo</div>
						</div>
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container flex-gt-sm="50">
						<label> Nombre(s) </label>
						<input name="nombres" ng-model="profile.nombres" required>
						<div ng-messages="cuentaForm.nombres.$error">
							<div ng-message="required">Debe llenar este campo</div>
						</div>
					</md-input-container>
					<md-input-container flex-gt-sm>
						<label> Apellidos </label>
						<input name="apellidos" ng-model="profile.apellidos" required>
						<div ng-messages="cuentaForm.apellidos.$error">
							<div ng-message="required">Debe llenar este campo</div>
						</div>
					</md-input-container>
				</div>
				<div layout>
					<div flex></div>
					<md-button class="md-raised md-primary" ng-click="profile.editarCuenta()">
							<md-icon>check</md-icon>
							Guardar
					</md-button>
					<md-button class="md-raised " ng-click="profile.cancelarEditar()">
							<md-icon>cancel</md-icon>
							Cancelar
					</md-button>
				</div>
			</form>
		</div>
		<div class="profile-char-edit" flex ng-show="profile.swEditarCuenta=='editar_contrasena'">
			<form name="cuentaPassForm">
				<div layout>
					<div flex="0" flex-gt-sm="30"></div>
					<div flex-gt-sm="40" layout="column" layout-align="center stretch">
						<h3>Modificar contraseña de usuario</h3>
						<md-input-container flex>
							<label> Contraseña actual </label>
							<input name="contrasena" ng-model="profile.contrasena" required type="password">
							<div ng-messages="cuentaPassForm.contrasena.$error">
								<div ng-message="required">Debe llenar este campo</div>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label> Contraseña nueva </label>
							<input name="contrasena_nueva" ng-model="profile.contrasena_nueva" required type="password">
							<div ng-messages="cuentaPassForm.contrasena_nueva.$error">
								<div ng-message="required">Debe llenar este campo</div>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label> Confirmar contraseña nueva </label>
							<input name="contrasena_confirm" ng-model="profile.contrasena_confirm" required type="password">
							<div ng-messages="cuentaPassForm.contrasena_confirm.$error">
								<div ng-message="required">Debe llenar este campo</div>
							</div>
						</md-input-container>
						<div layout>
							<div flex></div>
							<md-button class="md-raised md-primary" ng-click="profile.editarCuenta()">
									<md-icon>check</md-icon>
									Guardar
							</md-button>
							<md-button class="md-raised " ng-click="profile.cancelarEditar()">
									<md-icon>cancel</md-icon>
									Cancelar
							</md-button>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
