<md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex name="vm.filter.form" ng-class="{'flex-xs-70': vm.searchPro, 'flex-sm-70': vm.searchPro}">
                <div layout="column" layout-gt-sm="row" ng-class="{'crud-table-searchpro': vm.searchPro}">
                    <input type="text" ng-class="{'crud-table-filter': !vm.searchPro, 'flex': vm.searchPro}" id="crud-table-input" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="Escriba su búsqueda aquí..." ng-if="!vm.searchPro || vm.tipo_busqueda=='campo' || vm.tipo_busqueda=='todos' || vm.tipo_busqueda=='documento' || vm.tipo_busqueda=='flujo'">
                    <divider></divider>
                    <div class="date-pick" ng-if="vm.check_fechas">
                        <md-datepicker ng-change="vm.getItems()" ng-model="vm.fecha_inicio"></md-datepicker>
                        <md-tooltip>Fecha inicio</md-tooltip>
                    </div>
                    <div class="date-pick" ng-if="vm.check_fechas">
                        <md-datepicker ng-change="vm.getItems()" ng-model="vm.fecha_final"></md-datepicker>
                        <md-tooltip>Fecha fin</md-tooltip>
                    </div>
                    <div ng-if="vm.searchPro">
                        <md-checkbox ng-model="vm.check_fechas" ng-change="vm.getItems()" aria-label="check_fechas"></md-checkbox>
                        <md-tooltip>Fechas</md-tooltip>
                    </div>

                    <divider></divider>
                    <label for="select-tipo" ng-if="vm.searchPro">Tipo de búsqueda:</label>
                    <md-input-container  flex class="select-tipo flex-gt-sm-10" ng-if="vm.searchPro">
                        <md-select ng-model="vm.tipo_busqueda" ng-change="vm.query.filter=''; vm.getItems();">
                            <md-option class="opt-select-tipo" ng-value="'todos'">Todos</md-option>
                            <md-option class="opt-select-tipo" ng-value="'campo'">Campo</md-option>
                            <md-option class="opt-select-tipo" ng-value="'documento'">En documento</md-option>
                            <md-option class="opt-select-tipo" ng-value="'flujo'">Por flujo</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container  flex class="select-tipo flex-gt-sm-10" ng-if="vm.tipo_busqueda=='campo'" ng-init="vm.campo_seleccionado=vm.headers[1]">
                        <md-select ng-model="vm.campo_seleccionado" ng-change="vm.getItems()">
                            <md-option class="opt-select-tipo" ng-value="h" ng-repeat="h in vm.headers" ng-if="h.title!='ID'">
                                {{(h.title=='Nombre')? h.title+'(CITE)': h.title }}
                            </md-option>
                        </md-select>
                        <md-tooltip>{{vm.campo_seleccionado.title}}</md-tooltip>
                    </md-input-container>
                </div>
            </form>
            <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar" ng-show="!vm.filter.show">
        <div class="md-toolbar-tools">
            <md-icon>grid_on</md-icon> <span>{{vm.titleTable}}</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="vm.showFilter()" ng-if="vm.permissions.filter">
                <md-tooltip>Filtrar registros</md-tooltip>
                <md-icon>filter_list</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.saveAll()" ng-if="vm.editable">
                <md-tooltip>Guardar todo</md-tooltip>
                <md-icon>playlist_add_check</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.getItems()" id="btn-refresh-crudtable">
                <md-tooltip>Actualizar</md-tooltip>
                <md-icon>refresh</md-icon>
            </md-button>
            <md-button class="md-icon-button btn-collapsed">
                <md-tooltip>Ocultar/Ver</md-tooltip>
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-card-content ng-class="{'crud-table-content': vm.searchPro && vm.filter.show}">
        <div class="btn-container" ng-if="vm.permissions.create">
            <md-button class="md-fab md-primary" ng-click="vm.add($event)" aria-label="Add">
                <md-tooltip>Agregar nuevo registro</md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
        </div>
        <div class="btn-container" ng-if="!vm.permissions.create && vm.buttonAgregar">
            <md-button class="md-fab md-primary" ng-click="vm.buttonAgregar.onclick($event)" aria-label="Add">
                <md-tooltip>{{ vm.buttonAgregar.tooltip || 'Agregar nuevo registro' }}</md-tooltip>
                <md-icon>{{vm.buttonAgregar.icon}}</md-icon>
            </md-button>
        </div>
        <md-table-container>
            <table md-table ng-model="selected" md-progress="promise"  ng-if="vm.permissions.read">
                <thead md-head md-order="vm.query.order" md-on-reorder="vm.getItems">
                    <tr md-row>
                        <th md-cell ng-if="vm.habilitarSeleccion">
                            <md-checkbox class="md-primary" ng-model="vm.seleccionar" ng-click="vm.seleccionarTodos()">
                            </md-checkbox>
                        </th>
                        <th md-column ng-if="vm.permissions.update || vm.permissions.update || vm.permissions.print || vm.buttons.length > 0 || vm.permissions.delete">Acciones</th>
                        <th ng-repeat="header in vm.headers" md-column ng-if="$index > 0 && !vm.idShow[header.name]" md-order-by="{{header.order ? header.name : ''}}">
                            <span ng-if="!vm.estadoChecks">{{header.title}}</span>
                            <span ng-if="vm.estadoChecks">
                                <span ng-if="header.name=='estado'">
                                    <md-input-container class="select-sin-mb select-crud-estado" ng-click="vm.prevent($event)">
                                      <label>{{header.title}}</label>
                                      <md-select ng-model="vm.busqueda_estado" multiple ng-change="vm.getItems()">
                                        <md-option ng-value="op.v" ng-repeat="op in vm.estadoOpciones">{{op.t}}</md-option>
                                      </md-select>
                                    </md-input-container>
                                </span>
                                <span ng-if="header.name!='estado'">
                                    {{header.title}}
                                </span>
                            </span>
                        </th>
                        <th md-column ng-if="vm.informacionBienes"> Bienes </th>
                    </tr>
                </thead>
                <tbody md-body class="{{vm.editable ? 'formly-table-editable' : ''}}">
                    <tr md-row md-select="item" ng-repeat="item in vm.items.data" class="seleccionado">
                        <td md-cell ng-if="vm.habilitarSeleccion">
                            <md-checkbox class="md-primary" ng-model="item.selected" ng-click="vm.seleccionando(item)"></md-checkbox>
                        </td>
                        <td md-cell class="text-center md-table-options" ng-if="vm.permissions.update || vm.permissions.update || vm.permissions.print || vm.buttons.length > 0 || vm.permissions.delete">
                            <md-button class="md-icon-button boton-extra" aria-label="Editar" ng-click="vm.edit($event, item)" ng-if="vm.permissions.update && !vm.editable">
                                <md-tooltip>Editar</md-tooltip>
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button boton-extra" aria-label="Editar" ng-click="vm.save(item)" ng-if="vm.permissions.update && vm.editable">
                                <md-tooltip>Guardar registro</md-tooltip>
                                <md-icon>check</md-icon>
                            </md-button>
                            <md-button class="md-icon-button boton-extra" aria-label="Editar" ng-click="vm.print($event, item)" ng-if="vm.permissions.print">
                                <md-tooltip>Imprimir</md-tooltip>
                                <md-icon>print</md-icon>
                            </md-button>
                            <span ng-repeat="button in vm.buttons">
                                <span ng-if="button.multiple">
                                  <span ng-if="button.opcion[item[button.key_item]]">
                                    <md-button class="md-icon-button" ng-class="button.opcion[item[button.key_item]].xclass || 'boton-extra'"  aria-label="button.opcion[item[button.key_item]].tooltip" ng-click="vm.buttonEvent($event, item, button.opcion[item[button.key_item]].onclick)" >
                                      <md-tooltip>{{button.opcion[item[button.key_item]].tooltip}}</md-tooltip>
                                      <md-icon>{{button.opcion[item[button.key_item]].icon}}</md-icon>
                                    </md-button>
                                  </span>
                                  <span ng-if="button.opcion['DEFAULT'] && !button.opcion[item[button.key_item]]">
                                    <md-button class="md-icon-button" ng-class="button.opcion[item[button.key_item]].xclass || 'boton-extra'"  aria-label="button.opcion['DEFAULT'].tooltip" ng-click="vm.buttonEvent($event, item, button.opcion['DEFAULT'].onclick)" >
                                      <md-tooltip ng-if="button.opcion['DEFAULT'].tooltip">{{button.opcion['DEFAULT'].tooltip}}</md-tooltip>
                                      <md-icon>{{button.opcion['DEFAULT'].icon}}</md-icon>
                                    </md-button>
                                  </span>
                                </span>

                                <md-button class="md-icon-button boton-extra" aria-label="button.tooltip" ng-click="vm.buttonEvent($event, item, button.onclick)" ng-if="!button.multiple && !button.tipo">
                                    <md-tooltip>{{button.tooltip}}</md-tooltip>
                                    <md-icon>{{button.icon}}</md-icon>
                                </md-button>
                                <md-button class="md-icon-button (item[button.campo]==true?'icono-activo':'')" aria-label="button.tooltip" ng-click="vm.buttonEvent($event, item, button.onclick)" ng-if="!button.multiple && button.tipo=='icon'">
                                    <md-icon>{{button.icon}}</md-icon>
                                </md-button>
                                {{item[button.campo]}}
                            </span>
                            <md-button class="md-icon-button boton-eliminar" aria-label="Eliminar" ng-click="vm.delete($event, item)" ng-if="vm.permissions.delete && !item.id_documento">
                                <md-tooltip>Eliminar</md-tooltip>
                                <md-icon>delete</md-icon>
                            </md-button>
                            <md-button class="md-icon-button boton-eliminar" aria-label="Eliminar" ng-click="vm.delete($event, item)" ng-if="vm.permissions.delete && item.id_documento && (item.estado=='NUEVO' || item.estado=='RECHAZADO')">
                                <md-tooltip>Eliminar</md-tooltip>
                                <md-icon>delete</md-icon>
                            </md-button>
                            <md-button class="md-icon-button " aria-label=""  ng-if="vm.permissions.delete && item.id_documento && (item.estado!='NUEVO' && item.estado!='RECHAZADO')">
                                <md-icon></md-icon>
                            </md-button>

                        </td>

                        <td md-cell ng-repeat="(key, value) in item" ng-if="$index > 0 && !vm.idShow[key] && key !== 'selected' ">
                            <div ng-if="vm.editable">
                                <div ng-switch on="vm.types[key].type">
                                    <div ng-switch-when="input">
                                        <md-input-container>
                                            <label>{{vm.types[key].templateOptions.label}}</label>
                                            <input ng-model="vm.dataGrid[value]">
                                        </md-input-container>
                                    </div>
                                    <div ng-switch-when="textarea">
                                        <md-input-container>
                                            <label>{{vm.types[key].templateOptions.label}}</label>
                                            <textarea ng-model="vm.dataGrid[value]"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div ng-switch-when="select">
                                        <md-input-container>
                                            <md-select ng-model="vm.dataGrid[value]">
                                                <label>{{vm.types[key].templateOptions.label}}</label>
                                                <md-option ng-repeat="option in vm.types[key].templateOptions.options" value="{{option.value}}">
                                                    {{option.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div ng-switch-when="checkbox">
                                        <md-checkbox ng-model="vm.dataGrid[value]" aria-label="{{vm.types[key].templateOptions.label}}"></md-checkbox>
                                    </div>
                                    <div ng-switch-when="datepicker">
                                        <md-datepicker ng-model="vm.dataGrid[value]" md-placeholder="{{vm.types[key].templateOptions.label}}"></md-datepicker>
                                    </div>
                                    <div ng-switch-default>
                                        {{value}}
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!vm.editable">
                                <div ng-switch on="value">
                                    <div ng-switch-when="check_circle_success">
                                        <md-icon class="bg-success">check_circle</md-icon>
                                    </div>
                                    <div ng-switch-when="check_circle_gray">
                                        <md-icon class="bg-gray">check_circle</md-icon>
                                    </div>
                                    <div ng-switch-default>
                                        <div ng-if="key.indexOf('fecha') != -1">
                                            {{value|date:'dd/MM/yyyy'}}
                                        </div>
                                        <div ng-if="key.indexOf('fid_') == 0">
                                            {{vm.fieldsData[vm.fields.indexOf(key)].templateOptions.fkeys[value] || value}}
                                        </div>
                                        <div ng-if="key.indexOf('fecha') == -1 && key.indexOf('fid_') != 0">
                                            <div ng-if="!vm.estadoSw || (vm.estadoSw && key!='estado' && key!='impreso' )">
                                                <span ng-if="vm.sw_cite && key=='nombre'">
                                                    {{value}}
                                                    <tooltip doc="item"></tooltip>
                                                </span>
                                                <div ng-if="!vm.sw_cite || key!='nombre'">
                                                    {{value}}
                                                </div>
                                            </div>
                                            <div ng-if="vm.estadoSw && key=='estado'">
                                                <md-switch ng-true-value="'ACTIVO'" ng-false-value="'INACTIVO'" ng-model="item.estado" aria-label="estado" ng-change="vm.estadoModificado(item)"></md-switch>
                                            </div>
                                            <div ng-if="vm.estadoSw && key=='impreso'">
                                                <md-switch ng-true-value="'SI'" ng-false-value="'NO'"  ng-model="item.impreso" aria-label="impreso" ng-change="vm.estadoModificado(item)"></md-switch>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.items.count}}" md-page-select="vm.options.pageSelect" md-boundary-links="vm.options.boundaryLinks" md-on-paginate="vm.getItems"></md-table-pagination>
    </md-card-content>
</md-card>
