h4 {
    font-weight: 500;
}
div.md-toolbar-tools span{
    line-height: 1;
    vertical-align: middle;
}

/********************************/

.pagina {
        width: 210mm;
        min-height: 297mm;
        padding: 20mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
