<h1>Tabla de Activos Fijos</h1>

<ng-form name="tablaActivosForm">
  <div layout layout-align="end center" style="margin-bottom: 20px;background-color:#fafafa;padding:5px;" ng-if="model[options.key].tipoFormulario === 'ASIGNACION_DEVOLUCION'" >
    <md-radio-group layout ng-model="model[options.key].tipoFormularioSeleccionado" ng-change="vm.cambiarTipoFormularioSeleccionado(model[options.key].tipoFormularioSeleccionado)" >
      <md-radio-button value="ASIGNACION"> Asignación </md-radio-button>
      <md-radio-button value="DEVOLUCION"> Devolución </md-radio-button>
    </md-radio-group>
  </div>

  <div style="margin-bottom: 20px" ng-if="model[options.key].tipoFormulario === 'ASIGNACION_DEVOLUCION' && model[options.key].tipoFormularioSeleccionado === 'ASIGNACION'" >
    <md-radio-group layout ng-model="model[options.key].tipoBusqueda" ng-change="vm.cambiarTipoBusqueda(model[options.key].tipoBusqueda)" >
      <md-radio-button value="BUSQUEDA_POR_CITE"> Búsqueda por CITE </md-radio-button>
      <md-radio-button value="BUSQUEDA_GLOBAL"> Asignar por primera vez </md-radio-button>
    </md-radio-group>
  </div>

  <div layout layout-align="start center" ng-if="model[options.key].tipoFormulario === 'ASIGNACION_DEVOLUCION' && model[options.key].tipoFormularioSeleccionado === 'ASIGNACION' && model[options.key].tipoBusqueda === 'BUSQUEDA_POR_CITE'" >
    <md-input-container flex="100">
      <input type="text" ng-model="model[options.key].citeBusqueda" placeholder="Escriba el CITE de la solicitud de activos">
    </md-input-container>
    <md-button class="md-fab md-mini md-icon-button md-primary" aria-label="add" ng-click="vm.recuperarSolicitud()" >
      <md-icon>search</md-icon>
      <md-tooltip>Buscar solicitud</md-tooltip>
    </md-button>
  </div>

  <div layout layout-align="start center" ng-if="model[options.key].tipoFormulario === 'ASIGNACION_DEVOLUCION' && model[options.key].tipoFormularioSeleccionado === 'DEVOLUCION'" >
    <md-input-container flex="100">
      <input type="text" ng-model="model[options.key].usuario_ci" placeholder="Escriba el CI del usuario">
    </md-input-container>
    <md-button class="md-fab md-mini md-icon-button md-primary" aria-label="add" ng-click="vm.recuperarActivosAsignados()" >
      <md-icon>search</md-icon>
      <md-tooltip>Buscar Activos</md-tooltip>
    </md-button>
  </div>

  <div layout layout-align="start center" ng-if="model[options.key].tipoFormulario === 'ASIGNACION_DEVOLUCION' && model[options.key].tipoFormularioSeleccionado === 'ASIGNACION' && model[options.key].tipoBusqueda === 'BUSQUEDA_GLOBAL'" >
    
    <md-input-container flex>
      <input type="text" ng-model="model[options.key].usuario_ci" required placeholder="C.I. del usuario al que se le asignarán los activos">
    </md-input-container>
    <md-button class="md-fab md-mini md-icon-button md-primary" aria-label="add" ng-click="vm.validarUsuario()">
      <md-icon>check</md-icon>
      <md-tooltip>Validar usuario</md-tooltip>
    </md-button>
  </div>
  <div ng-if="model[options.key].tipoFormularioSeleccionado == 'ASIGNACION' && model[options.key].documentoDe.numero_documento">
    Asignar a : {{model[options.key].documentoDe.nombres}} {{model[options.key].documentoDe.apellidos}} -
    {{model[options.key].documentoDe.numero_documento}}
  </div> <br>

  <div layout layout-align="start center" ng-if="['SOLICITUD','ASIGNACION'].includes(model[options.key].tipoFormularioSeleccionado) && model[options.key].tipoBusqueda === 'BUSQUEDA_GLOBAL'" >
    <md-autocomplete ng-if="!to.disabled" flex="100"
      md-no-cache="true"
      md-items="item in vm.consultarActivo(vm.buscar.texto_buscar)"
      md-search-text="vm.buscar.texto_buscar"
      md-selected-item-change="vm.agregarFila()"
      md-selected-item="vm.buscar.item_seleccionado"
      md-item-text="item.description"
      md-min-length="0"
      ng-disabled="to.disabled"
      placeholder="Escribe el item a buscar ...">
    <md-item-template>
      <span>{{item.barcode}} - {{item.description}}</span>
      </md-item-template>
      <md-not-found>
        No se encontraron coincidencias para "{{vm.buscar.texto_buscar}}".
      </md-not-found>
    </md-autocomplete>
  </div>  
  <div layout layout-align="start center" class="alert" ng-class="'alert-'+vm.alert.tipo" ng-show="vm.alert.show">
      <md-icon>{{vm.alert.icono}}</md-icon>
      <div flex>{{vm.alert.mensaje}}</div>
      <md-icon class="ap-cursor-pointer" ng-click="vm.alert.show=false" ng-if="vm.alert.time==0">close</md-icon>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th ng-if="!to.disabled"> </th>
        <!-- <th> ID </th> -->
        <th> Código de barras </th>
        <th> Descripción </th>
        <th> Cantidad </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in model[options.key].filas | filter: vm.filter">
        <td class="buttons" ng-if="!to.disabled" layout-gt-sm>
          <md-button class="md-icon-button" aria-label="getSaldo" ng-click="vm.eliminarFila($index)">
            <md-icon>delete</md-icon>
            <md-tooltip>Eliminar fila</md-tooltip>
          </md-button>
        </td>
        <!-- <td>
          <md-input-container>
            <input type="text" ng-model="row.id" disabled>
          </md-input-container>
        </td> -->
        <td>
          <md-input-container>
            <input type="text" ng-model="row.barcode" disabled>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <textarea ng-model="row.description" disabled></textarea>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input type="number" ng-model="row.cantidad" disabled >
          </md-input-container>
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-if="model[options.key].tipoFormulario === 'ASIGNACION_DEVOLUCION' && model[options.key].tipoFormularioSeleccionado === 'ASIGNACION'">
    <div>Solicitado por: {{model[options.key].solicitadoPor.nombre}}</div>
    <div>Entregado por: {{model[options.key].entregadoPor.nombre}}</div>
    <!-- <div>Fecha de entrega: {{model[options.key].fecha_entrega}}</div> -->
  </div>

  <div ng-if="model[options.key].tipoFormulario === 'ASIGNACION_DEVOLUCION' && model[options.key].tipoFormularioSeleccionado === 'DEVOLUCION'">
    <div>Solicitado por: {{model[options.key].solicitadoPor.nombre}}</div>
    <div>Devuelto por: {{model[options.key].devueltoPor.nombre}}</div>
    <!-- <div>Fecha de devolución: {{model[options.key].fecha_devolucion}}</div> -->
  </div>

</ng-form>
