<md-dialog aria-label="Documento PDF" class="formly-dialog formly-column-{{column}} dialog-pdf" style="max-width: 800px; width: 100%;" >
  <md-toolbar>
      <div class="md-toolbar-tools">
          <h2><md-icon>picture_as_pdf</md-icon> Vista previa</h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Ver pdf" ng-click="verPdf()" ng-show="data.flag_html">
              <md-tooltip>Ver PDF</md-tooltip>
              <md-icon aria-label="Close dialog">picture_as_pdf</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Ver html" ng-click="verHtml()" ng-show="!data.flag_html">
              <md-tooltip>Ver html</md-tooltip>
              <md-icon aria-label="Close dialog">code</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Cerrar" ng-click="cerrar()">
              <md-tooltip>Cerrar</md-tooltip>
              <md-icon aria-label="Close dialog">close</md-icon>
          </md-button>
      </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content">
    
    <iframe class="iframe-pdf" src="{{data.pdf}}" style="width:100%; height:600px; border: none;" ng-if="data.show_pdf && !data.flag_html" allowfullscreen></iframe>
    <div id="canvasContainer" ng-show="!data.show_pdf && !data.flag_html"></div>
    <div ng-if="false">
        <p> Tu navegador web no puede visualizar archivos PDF.
            Pero tu puedes hacer
            <a ng-href="{{data.pdf}}" target="_blank">
                click aqui para descargar el PDF
            </a>
        </p>
    </div>

  </md-dialog-content>

  <md-dialog-actions>
      <span flex></span>
      <md-button class="md-raised" ng-click="cerrar()">
          <md-icon>cancel</md-icon> Cancelar
      </md-button>
  </md-dialog-actions>
</md-dialog>
