.container-monitoreo {
    div.paginador {
        button {
            min-width: 10px;
            padding: 0px !important;
            margin: 0px !important;
            margin-bottom: 14px !important;
        }
    }
}
