// _variables.scss...............Variables.

$colorPrimary: #616161;
$colorSecondary: #416374;
$colorInfo: #18ffff;

$colorDanger: #0c1c50;
$colorWarning: #90babd;
$colorSuccess: #205d8f;

$minWidth: 960px;

$widthSidenav: 280px;
$collapedWidthSidenav: 70px;


/* variables pde adminBienes para los estados de los bienes*/

$colorPendiente: #342a41;
$colorSinDatos: #00b8d4;
$colorConDatos: #304ffe;
$colorEnviado: #7b1fa2;
$colorObservado: #2394c9;
$colorObservadoSup: #ddb6b3;
$colorVerificado: #4caf50;
