<ng-form name="consultaAlmacenForm">
  <div layout layout-align="start center" >
    <md-autocomplete ng-if="!to.disabled" flex
      md-no-cache="true"
      md-items="item in vm.consultarAlmacen(vm.buscar.texto_buscar)"
      md-search-text="vm.buscar.texto_buscar"
      md-selected-item-change="vm.agregarFila()"
      md-selected-item="vm.buscar.item_seleccionado"
      md-item-text="item.descripcion"
      md-min-length="0"
      ng-disabled="to.disabled"
      placeholder="Escribe el item a buscar ...">
    <md-item-template>
      <span>{{item.descripcion}}</span>
      </md-item-template>
      <md-not-found>
        No se encontraron coincidencias para "{{vm.buscar.texto_buscar}}".
      </md-not-found>
    </md-autocomplete>
  </div>

  <div layout layout-align="start center" class="alert" ng-class="'alert-'+vm.alert.tipo" ng-show="vm.alert.show">
      <md-icon>{{vm.alert.icono}}</md-icon>
      <div flex>{{vm.alert.mensaje}}</div>
      <md-icon class="ap-cursor-pointer" ng-click="vm.alert.show=false" ng-if="vm.alert.time==0">close</md-icon>
  </div>


  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th ng-if="!to.disabled"> </th>
        <th> Código </th>
        <th> Descripción </th>
        <th> Unidad </th>
        <th> Cantidad </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in model[options.key].filas | filter: vm.filter">
        <td class="buttons" ng-if="!to.disabled" layout-gt-sm>
          <md-button class="md-icon-button" aria-label="getSaldo" ng-click="vm.eliminarFila($index)">
            <md-icon>delete</md-icon>
            <md-tooltip>Eliminar fila</md-tooltip>
          </md-button>
        </td>
        <td>
          <md-input-container>
            <input type="text" ng-model="row.codigo" disabled>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <textarea ng-model="row.descripcion" disabled></textarea>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input type="text" ng-model="row.unidad" disabled>
          </md-input-container>
        </td>
        <td ng-if="to.tipo=='PAGADO'">
          <md-input-container>
            <input type="text" ng-model="row.comprometido" disabled>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input type="number" ng-model="row.cantidad" >
          </md-input-container>
        </td>
      </tr>
    </tbody>
  </table>

  </form>
