<div layout="row" layout-wrap>
    <div flex>

        <div ng-click="vm.clickUp()" ng-show="vm.uploader.isHTML5" ng-if="vm.maxArchivosPermitidos > vm.uploader.queue.length">
            <div class="caja-up" nv-file-drop="" nv-file-over="" nv-file-select="" uploader="vm.uploader">
                <div layout="row" layout-wrap layout-align="center center">
                    <div flex="30" style="text-align:right">
                        <md-icon class="md-display-1">attach_file</md-icon>
                    </div>
                    <div flex="70" class="md-body-1">
                        Suelte los archivos aquí o haga click para añadir archivos
                        <br>
                        Solo se permiten archivos en formato: {{vm.formatos}}
                    </div>
                </div>
            </div>
        </div>
        <input id="input_seleccionar" type="file" nv-file-select="" uploader="vm.uploader" multiple ng-show="!vm.uploader.isHTML5"/>

        <table ng-if="!vm.soloImagenes">
            <tbody>
<!-- TODO: Habilitar para los archivos antiguos (edicion y eliminacion)
    <tr ng-show='item.mostrar' ng-repeat="item in vm.noticia_adjuntos">
                    <td><a ng-href='{{item.link}}'> {{item.nombre_publico}}</a></td>
                    <td>
                        <md-button class="md-icon-button md-accent md-very-small" aria-label="Eliminar" ng-click="vm.eliminarAdjuntos(item)">
                            <md-icon class="md-very-small">delete</md-icon>
                        </md-button>
                    </td>
                </tr>-->

                <tr ng-repeat="item in vm.uploader.queue" >
                    <td>{{item.file.name}}</td>
                    <td>
                        <md-button class="md-icon-button md-accent md-very-small" aria-label="Eliminar" ng-click="item.remove()">
                            <md-icon class="md-very-small">delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>

        <span ng-repeat="item in vm.uploader.queue" class="imagen" ng-if="vm.soloImagenes">
            {{item.file.name}}
            <div ng-show="vm.uploader.isHTML5 && vm.esImagen(item.file)" ng-thumb="{ file: item._file, height: vm.altoMiniatura, width: vm.anchoMiniatura }" ></div>
            <md-button class="md-icon-button md-accent md-very-small" aria-label="Eliminar" ng-click="item.remove()">
                <md-icon class="md-very-small">delete</md-icon>
            </md-button>
        </span>

        <span ng-repeat="item in vm.mostrar" class="imagen">
            {{item.nombre_publico}} 
            <div ng-mostrar-thumb="{ ruta:'{{vm.restUrl}}{{item.ruta}}',height: vm.altoMiniatura, width: vm.anchoMiniatura }" ></div>
            <md-button class="md-icon-button md-accent md-very-small" aria-label="Eliminar" ng-click="vm.eliminar(item)" >
                <md-icon class="md-very-small">delete</md-icon>
            </md-button>
        </span>



        <md-progress-linear md-mode="determinate" value="{{vm.uploader.progress}}"></md-progress-linear>

    </div>
</div>
